<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="willow.danmaku01" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
		android:screenOrientation="portrait"
        
		android:resizeableActivity = "true">
        <activity
			android:hardwareAccelerated="true"
            android:name=".MainActivity"
			android:theme="@style/AppTheme2"
			android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:name=".Start"
			android:screenOrientation="portrait"
			android:theme="@style/AppTheme"
            android:label="Start" >
			
		</activity>
    </application>

</manifest>
